<div class="content">

<h1>Upcoming Games</h1>


<ul>
<% @games.each do |game| %>
<li>
  <%= link_to game.name, team_game_path(game.team, game) %>
  <p><%= game.location %></p>
  <p><%= game.time %></p>
</li>

<% end %>

</ul>

</div>
