<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header" id="navbar-brand-centered">
      <ul class="nav navbar-nav">
        <li>Team Trackers</li>
        <li><%= link_to "Home", '/', class: 'navbar-brand' %></li>
        <li><%= render 'layouts/nav_links_for_auth' %></li>
      </ul>
    </div>
  </nav>
</div>
